.container
    .jumbotron
        h1 Pinball High Score
        p. -can you beat it?

     .row
         .col-md-6
             div(ng-include="'/partials/main/featured-lists'")
         .col-md-6
             div(ng-include="'/partials/main/new-lists'")